

 
 
 @import url('https://fonts.googleapis.com/css2?family=Alata&family=DM+Serif+Display:ital@1&display=swap');


* {
    margin: 0;
    padding:0;
}


header{
  font-family: 'DM Serif Display', serif;
  text-align:center;
  background-color: #8F916B;
  padding: 6rem;
}



h1,h2 {
 color:#EDEAD7;
}

h2{
  
  text-decoration-line: underline;
  text-decoration-color: #DE908D;
  text-decoration-style:dotted;
  text-underline-position: below;
}



  nav ul{
    list-style:none;
    text-align: center;

  }

  li{
    
    border-style: solid;
    border-color:#DE908D;
    border-width: .15rem;
    
    margin: 0.75rem;
    padding: .45rem;
    min-width: 5rem;
    display:inline-flex;
    flex-direction: column wrap;
     justify-content: center;
     align-items: center;
  }

  li:hover{
    
    background-color:#DE908D;
  }



 .container{
  
  background-color:#EDEAD7;
  padding: 5rem;

 }
 



.center{
  
  margin:0 auto;
}

p{
  color:#735141;
  font-family:  'Alata', sans-serif;
}

a{
  color:#735141;
}

footer{
  text-align: center;
  color:#EDEAD7;
  background-color: #8F916B;
  padding: 4rem;
  font-family: 'DM Serif Display', serif ;
}

nav{
  font-family:  'Alata', sans-serif;
  
}

nav a{
  text-decoration-line: none;
}